

/*reset*/
  body, ul, li, a, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  img {
    display: block;
  }
  a, textarea {
    outline: none;
  }
/*global*/
  .g-wrap {
    width: 982px;
    margin: 0 auto;
  }
  .g-clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
  .g-fl {
    float: left;
  }
  .g-fr {
    float: right;
  }
  .g-orange {
    color: #ff6600;
  }
